module.exports = {
  apps: [
    {
      name: "construex",
      instances: 1,
      exec_mode: "fork",
      watch: false,
      autorestart: true,
      max_memory_restart: "512M",
      script: "npx",
      args: "serve -l 5050 -s ./dist/",
    },
  ],
};
